/*PARA TODOS*/
*{ 
    padding: 0px;
    margin: 0;
}
ul{
    list-style: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #333;
}



/*CONTEUDO*/
.conteudo{
    width: 80%;
    margin: 0 auto;
  /* background: lightskyblue;*/
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#foto{
    border-radius: 50%;
    margin-top: 10px;
}

.info{
    display: flex;
    align-items:center; 
}
.descricao{
    margin-left: 20px;
}
.dados{
    justify-content: center;
}

.redes-sociais{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.redes-sociais>li{
    font-size: 27px;
}
.contatos{
    margin-bottom: 30px;
}

/*-- Experiências --*/
.experiencia{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.esquerda{
    width: 20%;
    text-align: right;
}
.titulo-sessao, .subtitulo-sessao{
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.subtitulo-sessao{
    font-size: 16px;
}

.sub-titulo-sessao{
    font-size: 15px;
    margin-bottom: 8px;
    text-align: justify;
}
.direita{
    width: 78%;
}


/*-- TABELA DE HABILIDADES --*/
.habilidades{
    display: flex;
    justify-content: space-between;
}
.skill{
    width: 45%;
}
.skill div{
    display: flex;
    border-radius: 5px;
}
.skill div span{
    margin-right: 10px;
}
.borda-barra{
    height: 10px;
    width: 100%;
    border: 1px black solid;
    border-radius: 5px;
}

.barra{
    height: 10px;
    background-color:gray;
    border-radius: 5px;
}
.habi-100{
    width: 100%;
}
.habi-90{
    width: 90%;
}
.habi-80{
    width: 80%;
}
.habi-70{
    width: 70%;
}
.habi-60{
    width: 60%;
}
.habi-50{
    width: 50%;
}






/*-- RODAPÉ --*/

.rodape{
    
    background: #333;
    color: #abcdef;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}