*{ 
    padding: 0px;
    margin: 0;
}

body{
    background-color: #e59d9e;
    font-family: 'Barlow', sans-serif;
    font-size: 1.8em;
}
ul{
    list-style: none;
}


.conteudo{
    width: 80%;
    margin: 0 auto;
}
.conteudo-direcao{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
}


.logo{
    width: 15%;
    height: auto;
}

p{
    color: #2f3035;
    padding-top: 15vh;
}

.redes-sociais{
    display: flex;
    justify-content: center; 
}
.icones-redesSociais{
    width: 2vw;
    padding-left: 2vw;
    margin-top: 3vh;
}

@media screen and (max-width: 600px) {
    .logo{
        width: 50%;
        height: auto;
    }
    p{
      text-align: center;
    }
    .icones-redesSociais{
        width: 8vw;
    }

}