/*
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
IMPORTANDO FONTS 
-------------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

body {
	margin: 0;
	color: #3e3e3e;
}

.conteudo-geral {
    width: 90%;
	margin: 0 auto
}

p {
	font-family: 'PT Mono', monospace;
}



/* 
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
GERAL
-------------------------------------------------------------------------------*/
.oficial-nome {
	text-align: center;
	font-family: 'PT Mono', monospace, sans-serif;
}
/*
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
PORTFÓLIO
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
*/

/*-- BLOCO PORTFÓLIO --*/
.bloco-portfolio {
	/* background-color: teal; */
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	width: 100%;
	/* height: 200px; */
	/* margin-right: 10px; */
	padding: 0;
	margin-top: 30px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	/* flex: 0 0 33.333333%; */
}

.sombra-box {
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.port-image {
	position: relative;
}

.foto-imagem {
	width: 100%;
}

.foto-imagem:hover {
	-ms-transform: scale(1.5); 
	-webkit-transform: scale(1.5);
	transform: scale(1.1); 
  }



/*
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
 PÁGINA INTERNA PORTFÓLIO
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
*/
.informacoes-projeto {
	margin-top: 80px;
}
#subtitulo-portfolio {
	font-family: 'PT Mono', monospace;
    text-transform: uppercase;
    font-size: 20px;
	letter-spacing: 4px;
	font-weight: 800;
}

#titulo-portfolio {
	font-family: 'PT Mono', monospace;
	font-size: 30px;
}

#titulo-portfolio:before {
    content: "";
    width: 60px;
    height: 14px;
    background-color: #eeeeee;
    top: 0;
    left: 0;
    display: block;
    margin: 15px 0
}
/* .portfolio .informacoes-projeto h1:before {
    content: "";
    width: 60px;
    height: 14px;
    background-color: #eeeeee;
    top: 0;
    left: 0;
    display: block;
    margin: 15px 0
} */




.portfolio .capa {
    width: 100%;
    z-index: 0
}
.portfolio .cover-2 {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative
}
.portfolio .cover {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 130px);
    height: 100vh;
    padding-top: 130px;
    position: relative
}
@media screen and (max-width: 1199px) {
    .portfolio .cover {
        background-image: none;
        height: auto;
        padding: 0
    }
}
.portfolio .cover img {
    display: none
}
@media screen and (max-width: 1199px) {
    .portfolio .cover img {
        display: block
    }
}





/* .portfolio .informacoes-projeto .quote h2:before {
    content: "\201C";
    display: block;
    position: relative;
    font-size: 48px;
    font-family: Georgia, serif;
    font-weight: 600;
    width: 20px;
    margin-bottom: 0
}
 */